# Ignore all files
/*

# Include specific Sublime Text settings files
!.gitignore
!Default (OSX).sublime-keymap
!Laravel 5 Artisan.sublime-commands
!Package Control.sublime-settings
!Preferences.sublime-settings
!PSR-2.sublime-build
!SimplePHPUnit.sublime-settings
!SublimeLinter.sublime-settings

